/* CSS Rese */
/*----------*/
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}


/* Tables */
table{
  border-collapse: collapse;
}
td{
    background:skyblue;
    padding: 10px
}
 /* Float */
 section{
   overflow: hidden;
 }

 div{
   float: left;
   background: skyblue;
   padding: 10px;
 }

/*Flexbox*/
ul{
  display: flex;
}
li{
  background: skyblue;
  padding: 10px;
}
/*Flexbox even columns*/
.even-columns li{
  flex: 1;
}

/*Flexbox two-column*/
.two-column .sidebar {
  width: 200px;
}

.two-column .main{
  flex: 1;
  background: grey;
}

.four-column .main{
  flex: 2;
  background: grey;
}
