
body {

	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 25px;
	margin: 0px;
}

.center {
	width: 100%;
	margin: auto;
}

header {
	padding: 50px 0;
	background-color: #BF5FFF;
	width: 100%;
}

header nav {
  text-shadow: 0 1px 0 grey;
  margin: auto;
	max-width: 1000px;

}
header nav ol {
  margin: 0px 0px;
  line-height: 5px;
	text-align: center;

}

header nav li {
  display: inline;
	font-size: 35px;
	margin: auto;
	padding-left: 50px;
	padding-right: 50px;
}

header nav a {

  text-decoration: none;
	color: white;

}

h3 {
	font-weight: 300;
	margin-top: 65px;
	font-size: 50px;
	color: #61422D;
}

h1 {
	padding-top: 170px;
	text-align: center;
	margin: auto;
	color: #61422D;
}

#level {
	float: right;
	padding-right: 15%;
}

#score {
	float: left;
	padding-left: 15%;
}

#food-image {
	display: block;
	margin: 25px auto;
}

.food-container {
	margin: 0 auto;
}

.button-container {
	overflow: hidden;
	list-style-type: none;
	padding-left: 0px;
	padding-right: 0px;
	margin: auto;
	text-align: center;
	max-width: 1000px;
}

.button {
	color: white;
	float: left;
	background: #BF5FFF;
	border-radius: 10px;
	border: 1px solid #E4BBEC;
	text-align: center;
	width: 45%;
	margin: 1% 1%;
	padding: 3% 0;
	transition: background 200ms;
}

.button:hover {
	background: #BDA0CB;
}

footer {
	margin-top: 3%;
	/*float: both;*/
}

#info {
	margin: auto;
	font-size: 45px;
}

p {
	text-align: center;
}

.bold {
	color: #61422D;
	font-weight: 600;
	font-size: 45px;
	margin: auto;
}

.footer-button {
	color: white;
	background: #BF5FFF;
	border-radius: 10px;
	border: 1px solid #E4BBEC;
	text-align: center;
	margin: auto;
	padding: 1.4rem;
	transition: background 200ms;
	font-size: 55px;
}

.footer-button:hover {
	background: #BDA0CC;
	color: white;
	transition: background 200ms, color 200ms;
}

a {
	text-decoration: none;
}


/*FINAL SCORE PAGE*/

section {
	margin-top: 40px;
	padding: 0 1%;
}

.final-score {
	width: 50%;
	margin: auto;
}

.score-box {
	background: #BF5FFF;
	border-radius: 10px;
	text-align: center;
	font-size: 2em;
	margin: auto;
}

#play-again {
	font-weight: 300;
	background: black;
	color: #BF5FFF;
	border-radius: 10px;
	text-align: center;
	margin-top: 50px;
	padding: 4% 0;
	margin: 15px;
	transition: background 150ms, color 150ms;
}

#play-again:hover {
	background: #BF5FFF;
	color: black;
	padding-top: 30px;
}

h6 {
	margin: auto;
	font-weight: 300;
}

h4 {
	color: #BF5FFF;
	font-weight: 600;
	margin: auto;
}

#large {
	font-size: 3em;
}
