
body {
	background: rgb(45, 15, 100);
	color: rgb(255, 255, 255);
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 25px;
}

.center {
	width: 775px;
	margin: auto;
}

header {
	overflow: hidden;
	margin-top: 30px;
	padding: 20px 0;
}

h3 {
	font-weight: 300;
	margin-top: 0;
}

#level {
	float: left;
}

#score {
	float: right;
}

#word-image {
	display: block;
	margin: 110px auto;
}

.button-container {
	overflow: hidden;
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

.button {
	color: white;
	float: left;
	background: rgb(98, 134, 136);
	border-radius: 10px;
	text-align: center;
	width: 31.33%;
	margin: 1% 1%;
	padding: 3% 0;
	transition: background 200ms;
}

.button:hover {
	background: rgb(72, 115, 115);
}

footer {
	margin-top: 3%;
	float: both;
}

#info {
	float: left;
	font-size: 0.75em;
	margin-left: 1%;
}

p {
	margin: 1% 0;
}

.bold {
	color: rgb(98, 134, 136);
	font-weight: 600;
}

.footer-button {
	float: right;
	color: rgb(54, 86, 89);
	background: rgb(255, 255, 255);
	border-radius: 10px;
	text-align: center;
	margin: 1.5% 1% 0 0.5%;
	width: 18%;
	padding: 1.75% 0;
	font-size: 0.75em;
	font-weight: 600;
}

.footer-button:hover {
	background: rgb(98, 134, 136);
	color: rgb(255, 255, 255);
	transition: background 200ms, color 200ms;
}

a {
	text-decoration: none;
}


/*FINAL SCORE PAGE*/

section {
	margin-top: 40px;
	padding: 0 1%;
	float: left;
}

.final-score {
	width: 38%;
	margin-right: 10%;
}

.correct-fonts {
	width: 22%;
}

.incorrect-fonts {
	width: 22%;
}

.score-box {
	background: rgb(98, 134, 136);
	border-radius: 10px;
	text-align: center;
	font-size: 2em;
}

#play-again {
	font-weight: 300;
	background: rgb(72, 115, 115);
	border-radius: 10px;
	text-align: center;
	margin-top: 50px;
	padding: 4% 0;
	transition: background 150ms, color 150ms;
}

#play-again:hover {
	background: rgb(98, 134, 136);
	color: rgb(255, 255, 255);
}

h1 {
	font-family: Helvetica, sans-serif;
	font-size: 2.7em;
	font-weight: 300;
	font-style: normal;
	margin: 0;
}

h6 {
	/*color: rgb(98, 134, 136);*/
	margin: 0;
	font-weight: 300;
}

h4 {
	color: rgb(98, 134, 136);
	font-weight: 600;
	margin: 0;
}

.final-score h4 {
	margin-top: 25px;
	padding: 5px 0;
}

h4.list {
	margin-top: 10px;
}

#large {
	font-size: 3em;
}

section ul {
	padding: 0;
	list-style-type: none;
	margin-top: 10px;
}

section ul li {
	font-size: 0.75em;
	line-height: 25px;
}


/* Responsive CSS */

@media only screen and (min-device-width: 374px) and (max-device-width: 376px) {
	body {
		background: rgb(54, 86, 89);
		color: rgb(255, 255, 255);
		font-family: 'Josefin Slab', serif;
		font-weight: 300;
		font-style: italic;
		font-size: 25px;
	}

	.center {
		width: 350px;
		margin: auto;
	}

	header {
		overflow: hidden;
		margin-top: 20px;
		padding: 0;
	}

	h3 {
		font-weight: 300;
		margin: 0;
	}

	#word-image {
		display: block;
		margin: 40px auto;
		width: 90%;
	}

	.button {
		color: white;
		float: left;
		background: rgb(98, 134, 136);
		border-radius: 10px;
		text-align: center;
		width: 98%;
		margin: 1% 1%;
		padding: 3% 0;
		transition: background 200ms;
	}

	#info {
		text-align: left;
		font-size: 0.5em;
		width: 65%;
		margin: 1% 0;
	}

	.footer-button {
		color: rgb(54, 86, 89);
		background: rgb(255, 255, 255);
		border-radius: 5px;
		text-align: center;
		margin: 1% 1% 0 0.5%;
		width: 30%;
		padding: 1% 0;
		font-size: 0.6em;
		font-weight: 600;
		float: right;
		clear: right;
	}

	#next {
		padding: 3% 0;
	}

	/* Final Score Page */
	section {
		margin-top: 0px;
		padding: 0 1%;
	}

	.final-score {
		float: none;
		clear: both;
		width: 100%;
		margin-right: 0;
		margin-top: 40px;
	}

	.correct-fonts {
		float: left;
		margin-top: 20px;
		width: 48%;
	}

	.incorrect-fonts {
		float: left;
		margin-top: 20px;
		width: 48%;
	}

	.score-box {
		background: rgb(98, 134, 136);
		border-radius: 10px;
		text-align: center;
		font-size: 2em;
	}

	#large {
		font-size: 2.5em;
	}

	#play-again {
		font-weight: 300;
		background: rgb(72, 115, 115);
		border-radius: 10px;
		text-align: center;
		margin-top: 20px;
		padding: 4% 0;
		transition: background 150ms, color 150ms;
	}

	h1 {
		font-family: Helvetica, sans-serif;
		font-size: 2.7em;
		font-weight: 300;
		font-style: normal;
		margin: 0;
		text-align: center
	}

	h6 {
		margin: 0;
		font-weight: 300;
		text-align: center;
		color: rgb(98, 134, 136);
		font-weight: 600;
	}

	h4 {
		color: rgb(98, 134, 136);
		font-weight: 600;
		margin: 0;
	}

	h4.list {
		margin-top: 5px;
	}
}
