
body {

	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 25px;
	margin: 0px;
}

.center {
	width: 100%;
	margin: auto;
}

header {
	padding: 50px 0;
	background-color: #BF5FFF;
	width: 100%;
}

header nav {
  text-shadow: 0 1px 0 grey;
  margin: auto;
	max-width: 1000px;

}
header nav ol {
  margin: 0px 0px;
  line-height: 5px;
	text-align: center;

}

header nav li {
  display: inline;
	font-size: 35px;
	margin: auto;
	padding-left: 50px;
	padding-right: 50px;
}

header nav a {

  text-decoration: none;
	color: #61422D;

}

h3 {
	font-weight: 300;
	margin-top: 65px;
	font-size: 50px;
	color: #61422D;
}

h1 {
	padding-top: 170px;
	text-align: center;
	margin: auto;
	color: #61422D;
}

#level {
	float: right;
	padding-right: 15%;
}

#score {
	float: left;
	padding-left: 15%;
}

#food-image {
	display: block;
	margin: 25px auto;
}

.food-container {
	margin: 0 auto;
}

.button-container {
	overflow: hidden;
	list-style-type: none;
	padding-left: 0px;
	padding-right: 0px;
	margin: auto;
	text-align: center;
	max-width: 1000px;
}

.button {
	color: white;
	float: left;
	background: #BF5FFF;
	border-radius: 10px;
	border: 1px solid #E4BBEC;
	text-align: center;
	width: 45%;
	margin: 1% 1%;
	padding: 3% 0;
	transition: background 200ms;
}

.button:hover {
	background: #BDA0CB;
}

footer {
	margin-top: 3%;
	/*float: both;*/
}

#info {
	margin: auto;
	font-size: 45px;
}

p {
	text-align: center;
}

.bold {
	color: #61422D;
	font-weight: 600;
	font-size: 45px;
	margin: auto;
}

.footer-button {
	color: white;
	background: #BF5FFF;
	border-radius: 10px;
	border: 1px solid #E4BBEC;
	text-align: center;
	width: 25%;
	margin: auto;
	padding: 3% 0;
	transition: background 200ms;
	font-size: 55px;
}

.footer-button:hover {
	background: #BDA0CC;
	color: white;
	transition: background 200ms, color 200ms;
}

a {
	text-decoration: none;
}


/*FINAL SCORE PAGE*/

section {
	margin-top: 40px;
	padding: 0 1%;
	float: left;
}

.final-score {
	width: 38%;
	margin: auto;
}

.correct-foods {
	width: 22%;
}

.incorrect-foods {
	width: 22%;
}

.score-box {
	background: #BF5FFF;
	border-radius: 10px;
	text-align: center;
	font-size: 2em;
	margin: auto;
}

#play-again {
	font-weight: 300;
	background: rgb(72, 115, 115);
	border-radius: 10px;
	text-align: center;
	margin-top: 50px;
	padding: 4% 0;
	margin: auto;
	transition: background 150ms, color 150ms;
}

#play-again:hover {
	background: rgb(98, 134, 136);
	color: #BF5FFF;
}

h1 {
	font-family: Helvetica, sans-serif;
	font-size: 2.7em;
	font-weight: 300;
	font-style: normal;
	margin: 0;
}

h6 {
	/*color: rgb(98, 134, 136);*/
	margin: auto;
	font-weight: 300;
}

h4 {
	color: #BF5FFF;
	font-weight: 600;
	margin: auto;
}

.final-score h4 {
	margin-top: 25px;
	padding: 5px 0;
}

h4.list {
	margin-top: 10px;
}

#large {
	font-size: 3em;
}

section ul {
	padding: 0;
	list-style-type: none;
	margin-top: 10px;
}

section ul li {
	font-size: 0.75em;
	line-height: 25px;
}


/* Responsive CSS */

@media only screen and (min-device-width: 374px) and (max-device-width: 376px) {
	body {
		background: rgb(54, 86, 89);
		color: rgb(255, 255, 255);
		font-family: 'Ubuntu', sans-serif;
		font-weight: 300;
		font-style: italic;
		font-size: 25px;
	}

	.center {
		width: 350px;
		margin: auto;
	}

	header {
		overflow: hidden;
		margin-top: 20px;
		padding: 0;
	}

	h3 {
		font-weight: 300;
		margin: 0;
	}

	#food-image {
		display: block;
		margin: 40px auto;
		width: 90%;
	}

	.button {
		color: white;
		float: left;
		background: rgb(98, 134, 136);
		border-radius: 10px;
		text-align: center;
		width: 98%;
		margin: 1% 1%;
		padding: 3% 0;
		transition: background 200ms;
	}

	#info {
		text-align: left;
		font-size: 0.5em;
		width: 65%;
		margin: 1% 0;
	}

	.footer-button {
		color: rgb(54, 86, 89);
		background: rgb(255, 255, 255);
		border-radius: 5px;
		text-align: center;
		margin: 1% 1% 0 0.5%;
		width: 30%;
		padding: 1% 0;
		font-size: 1em;
		font-weight: 600;
		float: right;
		clear: right;
	}

	#next {
		padding: 3% 0;

	}

	/* Final Score Page */
	section {
		margin-top: 0px;
		padding: 0 1%;
	}

	.final-score {
		float: none;
		clear: both;
		width: 100%;
		margin-right: 0;
		margin-top: 40px;
	}

	.correct-foods {
		float: left;
		margin-top: 20px;
		width: 48%;
	}

	.incorrect-foods {
		float: left;
		margin-top: 20px;
		width: 48%;
	}

	.score-box {
		background: rgb(98, 134, 136);
		border-radius: 10px;
		text-align: center;
		font-size: 2em;
	}

	#large {
		font-size: 2.5em;
	}

	#play-again {
		font-weight: 300;
		background: rgb(72, 115, 115);
		border-radius: 10px;
		text-align: center;
		margin-top: 20px;
		padding: 4% 0;
		transition: background 150ms, color 150ms;
	}

	h1 {
		font-family: 'Ubuntu', sans-serif;
		font-size: 2.7em;
		font-weight: 300;
		font-style: normal;
		margin: 0;
		text-align: center
	}

	h6 {
		margin: 0;
		font-weight: 300;
		text-align: center;
		color: rgb(98, 134, 136);
		font-weight: 600;
	}

	h4 {
		color: rgb(98, 134, 136);
		font-weight: 600;
		margin: 0;
	}

	h4.list {
		margin-top: 5px;
	}
}
